/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.content-wrapper {
    width: 100%;
    max-width: 800px; /* Limite la largeur maximale */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff; /* Couleur de fond pour voir les bords */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Centre le texte dans le conteneur */
}

h1, h2, p {
    margin: 0 0 10px 0;
    text-align: center; /* Centre le texte dans les titres et paragraphes */
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.05);
}

.btn-metamask {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 0; /* Carré */
    background-color: #f0f0f0;
    color: #000; /* Couleur du texte en noir */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-metamask:hover {
    background-color: #007bff;
    color: #fff;
}

.button-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.rectangular-btn {
    width: 30%; /* Prend 1/3 de la largeur du conteneur */
    height: 120px; /* Hauteur supérieure */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 0; /* Rectangulaire */
    background-color: #e0e0e0;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 5px; /* Espacement horizontal entre les boutons */
}

.rectangular-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.rectangular-btn img {
    width: 48px; /* Taille plus grande pour l'image */
    height: 48px;
    margin-right: 10px;
}
